.lst {
	color: blue;
	}/* this is for you to complete */
.green {
	color: green;
}
.red { color: red; }

.noneee {
	list-style-type:none;
	color: blue;
}
.boldd {
	font-weight: bold;
}
.linkk {
	color: purple;
	background-color: yellow;
}