.parent{
	display: flex;
	width: 30%;
	flex-direction: column;
	margin-left: 350px;
}
.div1{
display: flex;
flex-direction: row;
}
.div2{
display: flex;
flex-direction: row-reverse;
}
.div3{
display: flex;
flex-direction: row-reverse;
}
body{
	background-color: grey;

}
p {
background-color: white;
height: auto;
width:auto;
border: 2px solid black;
border-radius: 10px;
padding: 16px;
}
img {
	margin-top:16px;
	border-radius: 360%;
	border: 2px solid black;	
}
span {
	font-size: 10px;
	color:gray;
}